/* Footer Configuration */
.footer {
	white-space: pre-wrap;
	font-size: 8pt;
	color: #000000;
	position: relative
}


p {
	font-size: 15pt;
}

/* Header Configuration */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #3683ab;
	margin: 7px;
}

h1 {
	background-color: #f0f0f0;
}

/* Label and Link Configuration */
a {
	text-decoration: underline;
	color: #3683ab;
}

/* Label Table Configuration */
table {
	font-size: 10.5px;
	border: solid;
	border-color: black;
	border-width: 1px;
	width: 100%;
}

th {
	background-color: #4CAF50;
	color: white;
}

td {
	font-size: 15px;
	color: black;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

/* Usage of company font in the container */
@font-face {
	font-family: Manrope;
	src: url("Manrope-Regular.ttf");
}

/* Text Configuration */
body {
	font-family: Manrope, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	padding: 20px;
	color: #000000;
	word-wrap: break-word;
}

/* Setting a watermark image */
body {
	/* Watermark as background image*/
	background-image: url(watermark.jpg); /* Watermark image */
	background-repeat: repeat-y; /* Repeat background vertically*/
	background-position: center; /* Center the background */
}