Andreas Weiss                           <andreas.weiss7@etas.com>                               <andreas.weiss7@etas.com>
Anu Thomas                              <thomas.anu@in.bosch.com>                               <thomas.anu@in.bosch.com>
Anushree Banavara Vasudevamurthy Pathar <anushree.banavaravasudevamurthypathar@in.bosch.com>    <anushree.banavaravasudevamurthypathar@in.bosch.com>
Build User                              <builduser.ehandbook@bosch.com>                         <builduser.ehandbook@bosch.com>
Chandan Bandemutt                       <chandan.bandemutt@in.bosch.com>                        <chandan.bandemutt@in.bosch.com>
Christoph Nissle                        <christoph.nissle@etas.com>                             <christoph.nissle@etas.com>
Danny Mösch                             <danny.moesch@etas.com>                                 <danny.moesch@etas.com>
Dhruv Saxena                            <dhruv.saxena@etas.com>                                 <dhruv.saxena@etas.com>
Fabio Gebhard                           <fabio.gebhard@etas.com>                                <fabio.gebhard@etas.com>
Frank Benoit                            <frank.benoit@etas.com>                                 <frank.fenoit@etas.com> 
Günther Kögel                           <guenther.koegel@etas.com>                              <guenther.koegel@etas.com>
Johannes Ziegler                        <johannes.ziegler@etas.com>                             <johannes.ziegler@etas.com>
Jonas Pudel                             <jonas.pudel@de.bosch.com>                              <jonas.pudel@de.bosch.com>
Joyce Sushmitha                         <sushmitha.joyce@in.bosch.com>                          <sushmitha.joyce@in.bosch.com>
Latuske Gregor                          <gregor.latuske@etas.com>                               <gregor.latuske@etas.com>
Loïc Bailleau                           <loic.bailleau@etas.com>                                <loic.bailleau@etas.com>
Manoj Venkatesh Joshi                   <manoj.venkateshjoshi@in.bosch.com>                     <manoj.venkateshjoshi@in.bosch.com>
Mayuri Deorankar Girish                 <mayurigirish.deorankar@bosch.com>                      <mayurigirish.deorankar@bosch.com>
Praveen Mothkuri                        <praveen.mothkuri@in.bosch.com>                         <praveen.mothkuri@in.bosch.com>
Praveen Mothkuri                        <praveen.mothkuri@in.bosch.com>                         <praveen.mothkuri@in.bosch.com>
Pushpam Choudhury                       <pushpam.choudhury@etas.com>                            <pushpam.choudhury@etas.com>
Ragavi Varatharaj                       <ragavi.varatharaj@in.bosch.com>                        <ragavi.varatharaj@in.bosch.com>
Renate Mayalidag                        <renate.mayalidag@etas.com>                             <renate.mayalidag@etas.com>
Sagar Nayak                             <nayak.sagar@in.bosch.com>                              <nayak.sagar@in.bosch.com>
Sagar Nayak                             <nayak.sagar@in.bosch.com>                              <nayak.sagar@in.bosch.com>
Sameer Nagegowda                        <sameer.nagegowda@in.bosch.com>                         <sameer.nagegowda@in.bosch.com>
Saniya Rajesh Chitnis                   <chitnis.saniyarajesh@bosch.com>                        <chitnis.saniyarajesh@bosch.com> 
Sanjay Kumar Nasappa                    <bangalorenasappa.sanjaykumar@in.bosch.com>             <bangalorenasappa.sanjaykumar@in.bosch.com>
Sercan Uzun                             <sercan.uzun@etas.com>                                  <sercan.uzun@etas.com>
Shwetha Rangaswamy                      <shwetha.rangaswamy@in.bosch.com>                       <shwetha.rangaswamy@in.bosch.com>
Swathi P S                              <ps.swathi@in.bosch.com>                                <ps.swathi@in.bosch.com>
Tabea Grebe                             <tabea.grebe@etas.com>                                  <tabea.grebe@etas.com>
Technical User                          <eoz2kor@kor-c-00879.kor.apac.bosch.com>                <eoz2kor@kor-c-00879.kor.apac.bosch.com>
Technical User                          <iuf2kor@kor-c-008qv.bmh.apac.bosch.com>                <iuf2kor@kor-c-008qv.bmh.apac.bosch.com>
Vikas Verma                             <vikas.verma@in.bosch.com>                              <vikas.verma@in.bosch.com>
Viktor Flemmer                          <viktor.flemmer@etas.com>                               <viktor.flemmer@etas.com>
