@font-face {
	font-family: Manrope;
	src: url("Manrope-Regular.ttf");
}

@font-face {
	font-family: Manrope;
	src: url("Manrope-Bold.ttf");
	font-weight: bold;
}

body {
	font-family: Manrope, Arial, sans-serif;
	font-size: 13px;
}

/* spacing between the topic content and footer text */
.horizontalRule {
	border-top: 1px solid #164293;
}