@font-face {
	font-family: Manrope;
	src: url("Manrope-Regular.ttf");
}

@font-face {
	font-family: Manrope;
	src: url("Manrope-Bold.ttf");
	font-weight: bold;
}

body {
	font-family: Manrope, Arial, sans-serif;
	font-size: 13px;
}

/* spacing between the topic content and footer text */
.horizontalRule {
	border-top: 1px solid #164293;
}

.custom-table-style th {
	background-color: #fec001;
	color: #000000;
	font-weight: bold;
}

.custom-table-style td:first-child {
	color: #7d4e75;
	font-weight: 600;
}